@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --font: 'Outfit', sans-serif;

    --color_White: rgb(255, 255, 255);
    --color_Light_gray: rgb(214, 226, 240);
    --color_Grayish_blue: rgb(123, 135, 157);
    --color_Dark_blue: rgb(31, 50, 81);
}

body {
    height: 100%;

    background-color: var(--color_Light_gray);
}

header.header_container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 60px;
}

header.header_container > section.header_content {
    margin: auto;
}

header.header_container > section.header_content > section.imagem_box {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 375px;
    height: 375px;

    background-color: white;

    border-radius: 20px 20px 0px 0px;
}

header.header_container > section.header_content > section.imagem_box > img {
    width: 325px;
    height: 325px;

    border-radius: 10px;
}

header.header_container > section.header_content > section.textos {
    padding-top: 1%;
    width: 375px;
    height: 250px;

    text-align: center;
    background-color: white;

    border-radius: 0px 0px 20px 20px;
}

header.header_container > section.header_content > section.textos > h1.title {
    display: flex;
    margin-top: 0px;
    margin-left: 30px;
    margin-right: 30px;
    font-size: 26px;
    font-family: var(--font);

    color: var(--color_Dark_blue);
}

header.header_container > section.header_content > section.textos > p.paragrafo {
    display: flex;
    margin-top: 0px;
    margin-left: 14px;
    margin-right: 14px;

    font-size: 20px;
    font-family: var(--font);

    padding: 0px 20px 0px;

    color: var(--color_Grayish_blue);
}





































@media screen and (max-width: 375px) {
    body {
        height: 100%;

        background-color: var(--color_Light_gray);
    }

    header.header_container {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-top: 60px;
    }

    header.header_container > section.header_content {
        margin: auto;
    }

    header.header_container > section.header_content > section.imagem_box {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 375px;
        height: 375px;

        background-color: white;

        border-radius: 20px 20px 0px 0px;
    }

    header.header_container > section.header_content > section.imagem_box > img {
        width: 325px;
        height: 325px;

        border-radius: 10px;
    }

    header.header_container > section.header_content > section.textos {
        padding-top: 1%;
        width: 375px;
        height: 250px;

        text-align: center;
        background-color: white;

        border-radius: 0px 0px 20px 20px;
    }

    header.header_container > section.header_content > section.textos > h1.title {
        display: flex;
        margin-top: 0px;
        margin-left: 30px;
        margin-right: 30px;
        font-size: 26px;
        font-family: var(--font);

        color: var(--color_Dark_blue);
    }

    header.header_container > section.header_content > section.textos > p.paragrafo {
        display: flex;
        margin-top: 0px;
        margin-left: 14px;
        margin-right: 14px;

        font-size: 20px;
        font-family: var(--font);

        padding: 0px 20px 0px;

        color: var(--color_Grayish_blue);
    }
}